{% extends 'base.html' %}
{% block title %} sandwiches {% endblock %}


{% block side_nav %}
<div class="side-nav fixed" style="transform: none">	
	<p class="flow-text ">You are currently in the login view please login or create an account</p>
	<p class="">If you have fill the database you can login with the default admin </p>
	<hr/>
	<p>email:vincent.houba.test@gmail.com </p>
	<p>password: password</p>
</div>
{% endblock %}



{% block content %}
<div class="auth-content orange lighten-2">
	<div class="container">
		<div class="section">
		{% block content_body %}
			
		{% endblock %}
		</div>
	</div>	
</div>
{% endblock %}


