{% extends 'auth/base.html' %}

{% block content_body %}
<div class="row ">
	<div class="col l12 ">
		<h3 class="">Login</h3>
		<form method="post" action="{{url_for('.login')}}">
			{{ form.csrf_token() }}
			<div class="row">
				<div class="input-field col s12">
					{{ form.email }}
					{{ form.email.label }}
				</div>
				<div class="input-field col s12">
					{{ form.password }}
					{{ form.password.label }}
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<div class="waves-effect waves-light btn orange">
						{{ form.submit }}
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<hr/>
<div class="row ">
	<div class="col l12">
		<h3>No Account Sign in</h3>
		<a class="waves-effect waves-light btn red">Employee</a>
		<a class="waves-effect waves-light btn red">Manager</a>
		<a class="waves-effect waves-light btn red">Employee as Manager</a>		
	</div>
</div>


{% endblock %}


