{% extends 'base.html' %}
{% block title %} sandwiches {% endblock %}


{% block side_nav %}
<ul class="side-nav fixed" style="transform: none">	
	<li class="bold"><a href="#" class="waves-effect waves-teal">Login</a></li>
	<li class="bold"><a href="#" class="waves-effect waves-teal">Subscribe as Employee</a></li>
	<li class="bold"><a href="#" class="waves-effect waves-teal">Subscribe as Manager</a></li>
	<li class="bold"><a href="#" class="waves-effect waves-teal">Subscribe as Employee Manager</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="auth-content orange lighten-2">
	<div class="container">
		<div class="section">
			{% block content_body %}
			
			{% endblock %}
		</div>
	</div>	
</div>
{% endblock %}


