{% extends 'base.html' %}
{% block title %} sandwiches {% endblock %}


{% block side_nav %}

{% set navigation_sidebar = [
(['home'], url_for('manager.index'), 'Command'),
(['shops', 'shop'], url_for('manager.shops'), 'Shops'),
(['employees'], url_for('manager.employees'), 'Employees Details'),
(['commands', 'command'], url_for('manager.commands'), 'Command Details')
] -%}

{% for name, url, text in navigation_sidebar %}
<li class="bold {% if g.sidenav in name %}active{% endif %}">
	<a href="{{ url }}" class="waves-effect  white-text "> {{ text }} </a>
</li>
{% endfor %}

{% endblock %}

{% block content %}
<div class="main-content orange lighten-2">
	<div class="container">
		<div class="section">
			{% block content_body %}
			
			{% endblock %}
		</div>
	</div>	
</div>
{% endblock %}


