{% extends 'base.html' %}
{% block title %} sandwiches {% endblock %}


{% block side_nav %}

{% set navigation_bar = [
('default', url_for('.index'), 'Command'),
('shops', url_for('.shops'), 'Shops'),
('history', '#', 'History')
] -%}

{% for name, url, text in navigation_bar %}
<li class="bold {% if name == g.current_nav_name %}active{% endif %}">
	<a href="{{ url }}" class="waves-effect  white-text "> {{ text }} </a>
</li>
{% endfor %}

{% endblock %}

{% block content %}
<div class="auth-content orange lighten-2">
	<div class="container">
		<div class="section">
			{% block content_body %}
			
			{% endblock %}
		</div>
	</div>	
</div>
{% endblock %}


