{% extends 'manager/base.html' %}

{% block content_body %}
<div class="row">
	<div class="col l12 ">
		<h3>Waiting</h3>
		<p class="text-flow">Command is wating to be deliverd, please validate the command if it was delivered correctly or not</p>
		
		<a href="{{ url_for('.send_mail_command') }}" class="btn blue">Send Mail</a>
		<a href="{{ url_for('.delivered') }}" class="btn green">Delivered</a>
		<a href="{{ url_for('.never_delivered') }}" class="btn red">Never Delivered</a>
	</div>
</div>
<div class="row">
	<div class="col l12">
		<h3>Details about the current command</h3>
		<ul class="collection">
			<li class="collection-item red lighten-1">Employee: {{ command.sum_price_employee() }}€</li>
			<li class="collection-item red lighten-1">Extra: {{ command.sum_price_extra() }}€</li>
			<li class="collection-item red lighten-1">Total: {{ command.sum_price_total() }}€</li>
		</ul>
		<h3>Order by employee</h3>

		{% if employee_orders %}
		{{ macros.table_show(header=employee_orders[0].keys(), body=employee_orders) }}
		{% else %}
		<p class="flow-text">No orders was done by employees for this command</p>
		{% endif %}

		<h3>Extra</h3>
		{% if extra_orders %}
		{{ macros.table_show(header=extra_orders[0].keys(), body=extra_orders) }}
		{% else %}
		<p class="flow-text">No extra orders was for this command</p>
		{% endif %}
		
		
	</div>
</div>


{% endblock %}
