{% extends 'manager/base.html' %}

{% block content_body %}
<div class="row ">
	<div class="col l12 ">
		<h3>Extra order for the current command </h3>
		<table class="bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Add</th>
				<th>Remove</th>
				<th>Count</th>
			</tr>
		</thead>

		<tbody>
			{% for food in extra_foods %}
			<tr>
				<td>{{ food.name }}</td>
				<td>{{ food.price }}</td>
				<td><a href="{{ url_for('.increment_food', food_id=food.id )}}" class="btn btn-floating green"><i class="material-icons">add</i></a></td>
				<td><a href="{{ url_for('.decrement_food', food_id=food.id )}}" class="btn btn-floating red"><i class="material-icons">remove</i></a></td>
				<td>{{ extra_orders.filter_by(food=food).count() }}</td>
			</tr>
			{% endfor %}
		</tbody>		
		</table>
	</div>
	<div class="col l12 ">
		<h3>Employees Orders</h3>
		<table class="bordered">
			<thead>
				<tr>
					<th>Employee</th>
					<th>Food</th>
					<th>Price</th>
				</tr>
			</thead>

			<tbody>
				{% for order in employee_orders %}
				<tr>
					<td>{{ order.employee.firstname }}</td>
					<td>{{ order.food.name }}</td>
					<td>{{ order.food.price }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col l12 ">
		<a href="{{ url_for('.send_mail_command') }}" class="btn blue">Send Mail</a>
		<a href="{{ url_for('.wait') }}" class="btn green">Validate</a>
		<a href="{{ url_for('.cancel' )}}" class="btn red">Cancel</a>
	</div>
</div>
{% endblock %}
