{% extends 'manager/base.html' %}

{% block content_body %}
<div class="row ">
	<div class="col l12 ">
		<h3>Extra order for the current command </h3>
		<table class="bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Count</th>
				<th>Add</th>
				<th>Remove</th>
			</tr>
		</thead>

		<tbody>
			{% for food in extra_foods %}
			<tr>
				<td>{{ food.name }}</td>
				<td>{{ food.price }}</td>
				<td>{{ food.count }}</td>
				<td><a href="{{ url_for('.increment_food', food_id=food.id )}}" class="btn btn-floating green"><i class="material-icons">add</i></a></td>
				<td><a href="{{ url_for('.decrement_food', food_id=food.id )}}" class="btn btn-floating red {% if food.count == 0 %} disabled {% endif %} "><i class="material-icons">remove</i></a></td>

			</tr>
			{% endfor %}
		</tbody>		
		</table>
	</div>
	<div class="col l12 ">
		<h3>Employees Orders</h3>
		{{ macros.table_show(header=employee_orders[0].keys(), body=employee_orders) }}
	</div>
</div>
<div class="row">
	<div class="col l12 ">
		<a href="{{ url_for('.send_mail_command') }}" class="btn blue">Send Mail</a>
		<a href="{{ url_for('.wait') }}" class="btn green">Validate</a>
		<a href="{{ url_for('.cancel' )}}" class="btn red">Cancel</a>
	</div>
</div>
{% endblock %}
