{% extends 'manager/base.html' %}


{% block content_body %}
<div class="row ">
	<div class="col l12 ">
		<h2>{{shop.name}}</h2>
		<h3>Edit the current shop</h3>
		<form method="post" action="{{url_for('.shop', pk=shop.id )}}">
			{{ form.csrf_token() }}
			<div class="row">
				{{ macros.input_widget(form.name) }}
				{{ macros.input_widget(form.email) }}
				{{ macros.input_widget(form.telephone) }}
				{{ macros.input_widget(form.address) }}
			</div>
			<div class="row">
				{{ macros.submit_widget(form.submit) }}
			</div>
		</form>
		<h3>Foods</h3>


		<table class="bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>price</th>
					<th>extra</th>
					<th><a href="{{url_for('.shop_create')}}" class="btn btn-floating blue"><i class="material-icons">add</i></a></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for food in foods %}
				<tr>
					<td>{{ food.name }}</td>			
					<td>{{ food.price | round(2) }}</td>			
					<td>{{ food.extra }}</td>
					<td><a href="{{ url_for('.food_update', pk=food.id) }}" class="btn btn-floating orange"><i class="material-icons">edit</i></a></td>
					<td><a href="{{ url_for('.food_delete', pk=food.id) }}" class="btn btn-floating red"><i class="material-icons">delete</i></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
