{% extends 'manager/base.html' %}


{% block content_body %}
<div class="row ">
	<div class="col l12 ">
		<h2>{{shop.name}}</h2>
		<h3>Edit the current shop</h3>
		<form method="post" action="{{url_for('.shop', pk=shop.id )}}">
			{{ form.csrf_token() }}
			<div class="row">
				{{ macros.input_widget(form.name) }}
				{{ macros.input_widget(form.email) }}
				{{ macros.input_widget(form.telephone) }}
				{{ macros.input_widget(form.address) }}
			</div>
			<div class="row">
				<div class="col s12">
					{{ macros.submit_widget(form.submit) }}
					{{ macros.back_button(url_for('.shops'))}}
				</div>
			</div>
		</form>
		<h3>Foods</h3>

		{{macros.table_crud(['name', 'price', 'extra'], foods, '.food_create', '.food_update', '.food_delete', shop.id) }}

{% endblock %}
