{% macro input_widget(field, size=12) %}
<div class="input-field col s{{size}}">
	{% if not field.errors %}
	{{ field }}
	{{ field.label }}
	{% else %}
	{{ field(class='red', style='margin:0') }}
	{{ field.label }}
	<div style="margin-bottom: 10px;" class="red lighten-2">{{ field.errors[0] }}</div>
	{% endif %}
</div>
{% endmacro %}


{% macro checkbox_widget(field, size=12) %}
<div class="col s{{size}}">
	{{ field(class="filled-in") }}
	{{ field.label }}
</div>
{% endmacro %}


{% macro select_widget(field, size=12) %}
<div class="col s{{size}} input-field">
	<select id="{{field.id}}" name="{{field.name}}">
		<option disabled selected value="{{field.choices[0][0]}}"> {{field.choices[0][1]}} </option>
		{% for (value, label) in field.choices[1:] %}
		<option value="{{value}}">{{label}}</option>
		{% endfor %}
	</select>
</div>
{% endmacro %}


{% macro submit_widget(field, size=2) %}
<div class="col s{{size}} waves-effect waves-light btn red">
	{{ field }}
</div>
{% endmacro %}



{% macro table(header, body, footer=None, className="bordered") %}
<table class="{{className}} highlight">
	<thead>
		<tr>
			{% for name in header %}
			<th>{{name | title}}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in body %}
		<tr>
			{% for column in row.values() %}
			<td>{{ column }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
	{% if fotter %}
	<tfoot>
		{% for row in footer %}
		<tr>
			{% for column in row %}
			<td>{{ column }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tfoot>
	{% endif %}
</table>
	
	
{% endmacro %}


{% macro back_button(url, size=2, text='Back', color='blue') %}
<a style="margin-left: 10px;" href="{{url}}" class="col s{{size}} waves-effect waves-light btn {{color}}"> {{text}} </a>
{% endmacro %}
