{% import "_macros.html" as macros %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>{% block title %} {% endblock %}</title>

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
		
		{% block styles %}
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"  media="screen,projection"/>
		{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
	</head>
	<body>
		{% block header %}
		<header>
			{% if current_user.is_authenticated %}
			<ul id="user-dropdown" class="dropdown-content">
				{% if current_user.is_employee %}
				<li><a href="{{url_for('main.index')}}">Employee</a></li>
				{% endif %}
				{% if current_user.is_manager %}
				<li><a href="{{url_for('manager.index')}}">Manager</a></li>
				{% endif %}
				{% if current_user.is_admin %}
				<li><a href="#">Admin</a></li>
				{% endif %}
				<li class="divider"></li>
				<li><a href="{{url_for('auth.logout')}}">Logout</a></li>
			</ul>
			{% endif %}
			<nav class="top-nav">
				<div class="container">
					<div class="nav-wrapper">
						<a href="{{ url_for('main.index') }}" class="page-title">Intersentia</a>
						{% if current_user.is_authenticated %}
						<ul class="right hide-on-med-and-down">
							<li>
								<a class="dropdown-button" href="#!" data-activates="user-dropdown"><i class="large material-icons">account_circle</i></a>
							</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</nav>
			<div class="side-nav fixed" style="transform: none">	
				{% block side_nav %}

				{% endblock %}
			</div>
		</header>
		
		{% endblock %}
		<main>
			{% block flash %}
			{% if get_flashed_messages() %}
			<div class="blue">
				<div class="section ">
					<div class="container">
						{% for message in get_flashed_messages() %}
						<div id="card-alert" class="card blue">
							<div class="card-content white-text light-blue">
								<p>{{ message }}</p>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}
			{% endblock %}
			{% block content %} {% endblock %}
		</main>
		{% block footer %}
		<footer class="page-footer orange">
			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col l12">
							<h5 class="white-text">Intersentia Sandwiches</h5>
							<p class="grey-text text-lighten-4">Intersentia Sandwiches is an application to command sandwiches from different shops, it's small application that help manager to command foods as a group, in the end of the month the managers can see how much foods each employer have command and calculate their net salary</p>
							<div class="footer-copyright">
								<div class="container center">
									Made by Vincent Houba
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		{% endblock %}
		{% block scripts %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/init.js') }}"></script>
		{% endblock %}
	</body>
</html>
